<!-- Preload image for a first restaurant right away -->
<img alt=""
     style="display: none;"
     aria-hidden="true"
     sizes="(max-width: 639px) calc(100vw - 48px), 284px"
     srcset="/assets/images/1180/1.webp 1180w, /assets/images/590/1.webp 590w, /assets/images/568/1.webp 568w, /assets/images/284/1.webp 284w"
     src="/assets/images/284/1.webp" />

<header class="b-header">
    <h1 class="b-header__title">
        <a href="/" class="b-header__title-link">
            Restaurant<br class="b-header__title-link-break" />
            Reviews
        </a>
    </h1>
</header>

<main class="b-main">
    <section class="b-main__section b-main__section--map" aria-hidden="true">
        <div class="b-main__map"></div>
        <button class="b-main__map-enable-button">See on the map</button>
    </section>

    <section class="b-main__section b-main__section--content">
        <div class="b-filters">
            <h2 class="b-filters__title">Filter Results</h2>

            <select class="b-filters__select b-filters__select--neighborhoods" aria-label="Select restaurants by neighborhood" title="Select restaurants by neighborhood">
                <option value="all">All Neighborhoods</option>
            </select>

            <select class="b-filters__select b-filters__select--cuisines" aria-label="Select restaurants by cuisine" title="Select restaurants by cuisine">
                <option value="all">All Cuisines</option>
            </select>
        </div>

        <div class="b-restaurants">
            <h2 class="b-restaurants__title">List of restaurants found</h2>
            <ul class="b-restaurants__list">
                <li class="b-restaurants__item">
                    <div class="b-restaurants__item-img-container b-restaurants__item-img-container--visible">
                        <div class="b-restaurants__item-img-placeholder" style="background-image: url('<%= RESTAURANTS_PLACEHOLDER_IMAGES[0] %>');"></div>
                    </div>
                    
                    <div class="b-restaurants__item-info">
                        <h3 class="b-restaurants__item-title">~~~~</h3>
                        <p class="b-restaurants__item-paragraph">~~~~</p>
                        <p class="b-restaurants__item-paragraph">~~~~</p>
                        <div class="b-restaurants__item-link">Loading...</div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>

<footer class="b-footer">
    Copyright (c) 2017 <a href="/" class="b-link b-link--lighter">Restaurant Reviews</a> <br class="b-footer__line-break"/>
    All Rights Reserved.
</footer>

<script type="text/javascript">
    window.RESTAURANTS_PLACEHOLDER_IMAGES = <%- JSON.stringify(RESTAURANTS_PLACEHOLDER_IMAGES) %>;

    window.INITIAL_RESTAURANTS = null;
    window.INITIAL_RESTAURANTS_REQUEST_PENDING = true;

    fetch('http://localhost:1337/restaurants/')
        .then(response => response.json())
        .then(restaurants => {
            window.INITIAL_RESTAURANTS_REQUEST_PENDING = false;

            window.INITIAL_RESTAURANTS = restaurants;

            if (window.RESTAURANTS_REQUEST_REGULAR) window.RESTAURANTS_REQUEST_REGULAR(window.INITIAL_RESTAURANTS);
        }).catch(error => {
            window.INITIAL_RESTAURANTS_REQUEST_PENDING = false;

            if (window.RESTAURANTS_REQUEST_REGULAR) window.RESTAURANTS_REQUEST_REGULAR();
        });
</script>
