@mixin p-restaurant__heading {
    display: inline-block;

    margin: -4px -6px;
    padding: 4px 6px;

    color: #e45600;
    font-size: 32px;
    font-weight: normal;
    font-family: $g-font__heading;

    letter-spacing: 0;
    text-indent: -2px;

    line-height: 1;

    vertical-align: top;

    outline: none;

    &:focus {
        box-shadow: 0 0 2px red;
        border-radius: 2px;
        }
    }