@import '../../base/globals';

.b-restaurant {
    padding: 36px 24px 0;

    @media (min-width: $g-breakpoint--tablet) {
        }
    }
    .b-restaurant__title {
        display: inline-block;

        margin: -4px -6px;
        padding: 4px 6px;

        color: #e45600;
        font-size: 32px;
        font-weight: normal;
        font-family: $g-font__heading;

        letter-spacing: 0;
        text-transform: uppercase;

        line-height: 1;

        vertical-align: top;

        outline: none;

        &:focus {
            box-shadow: 0 0 2px red;
            border-radius: 2px;
            }
        }
    .b-restaurant__image-container-sizer {
        max-width: 590px;

        margin-top: 16px;
        }
        .b-restaurant__image-container {
            position: relative;

            padding-top: 3/4 * 100%;
            }
            .b-restaurant__image {
                display: block;

                position: absolute;

                top: 0;
                left: 0;

                width: 100%;
                }
    .b-restaurant__cuisine {
        max-width: 590px;

        margin: 0;
        padding: 12px 0;

        background-color: #333;

        color: #ddd;
        font-size: 16px;
        font-weight: normal;

        letter-spacing: 10px;
        text-transform: uppercase;

        line-height: 16px;

        text-align: center;
        }
    .b-restaurant__address {
        margin: 12px 0 0;

        font-size: 16px;

        line-height: 20px;
        }
    .b-restaurant__hours-title {
        margin: 24px 0 0;

        color: #e45600;
        font-weight: normal;
        font-size: 32px;

        letter-spacing: -1px;
        }
    .b-restaurant__hours {
        margin: 12px 0 0;

        border-collapse: collapse;
        }
        .b-restaurant__hours td {
            padding: 0;

            color: #666;
            font-size: 16px;

            line-height: 24px;

            &:first-child {
                padding-right: 8px;

                font-weight: bold;
                }
            }