@import '../../base/globals';
@import 'common';

.b-restaurant {
    padding: 36px 24px 0;

    @media (min-width: $g-breakpoint--tablet) {
        }
    }
    .b-restaurant__title {
        @include p-restaurant__heading;

        text-transform: uppercase;
        }
    .b-restaurant__image-container-sizer {
        max-width: 590px;

        margin-top: 16px;
        }
        .b-restaurant__image-container {
            position: relative;

            padding-top: 3/4 * 100%;
            }
            .b-restaurant__image {
                display: block;

                position: absolute;

                top: 0;
                left: 0;

                width: 100%;
                }
    .b-restaurant__cuisine {
        max-width: 590px;

        margin: 0;
        padding: 12px 0;

        background-color: #333;

        color: #ddd;
        font-size: 16px;
        font-weight: normal;

        letter-spacing: 10px;
        text-transform: uppercase;

        line-height: 16px;

        text-align: center;
        }
    .b-restaurant__address {
        margin: 12px 0 0;

        font-size: 16px;

        line-height: 20px;
        }
    .b-restaurant__hours {
        margin: 24px 0 0;
        }
        .b-restaurant__hours-title {
            @include p-restaurant__heading;

            letter-spacing: -1px;
            }
        .b-restaurant__hours-table {
            margin: 12px 0 0;

            border-collapse: collapse;
            }
            .b-restaurant__hours-table td {
                padding: 0;

                color: #666;
                font-size: 16px;

                line-height: 24px;

                &:first-child {
                    padding-right: 8px;

                    font-weight: bold;

                    vertical-align: top;
                    }
                }