$g-breakpoint--desktop-wide: 1280px;
$g-breakpoint--desktop: 1024px;
$g-breakpoint--tablet: 768px;
$g-breakpoint--tablet-narrow: 640px;
$g-breakpoint--mobile-wide: 480px;
$g-breakpoint--mobile: 320px;