@import './globals/breakpoints';
@import './globals/z-indices';

$g-transition__default: .08s ease;

$g-color__text: #333;

$g-color__link: #0089ff;
$g-color__link--hover: #f41224;
$g-color__link--visited: #b40eb4;
$g-color__link-underscore: rgba(0, 137, 255, .3);
$g-color__link-underscore--hover: rgba(244, 18, 36, .3);
$g-color__link-underscore--visited: rgba(180, 14, 180, .3);

$g-font--georgia: Georgia, 'Times New Roman', serif;
$g-font--arial: Helvetica, Arial, sans-serif;

$g-font__heading: $g-font--georgia;
$g-font__content: $g-font--arial;