@import 'globals';

*,
*:before,
*:after {
    box-sizing: border-box;
    }


:root {
    color: $g-color__text;
    font-size: 16px;
    font-family: $g-font__content;

    line-height: 1.25;
    }

html {
    height: 100%;
    }
    body {
        height: 100%;

        background: #FFF;

        overflow-y: scroll;
        }

        // General stuff

        h1, h2, h3, h4, h5, h6 {
            font-family: $g-font__heading;
            }

        h1 {
            font-size: 2.5em;
            }
        h2 {
            font-size: 2em;
            }
        h3 {
            font-size: 1.75em;
            }
        h4 {
            font-size: 1.5em;
            }
        h5 {
            font-size: 1.25em;
            }
        h6 {
            font-size: 1.125em;
            }

        button, input, optgroup, select, textarea {
            font-family: $g-font__content;
            }