@import '../base/globals';

.b-main {
    min-height: calc(100% - 80px);

    padding-bottom: 60px;

    background: #eee;

    .b-header--inner + & {
        min-height: 100%;

        padding-top: calc(80px + 44px);
        }
    }
    .b-main__section {
        position: relative;

        &--map {
            height: 320px;
            min-height: 140px;
            max-height: calc(70vh - 80px - 122px); // Header height and filters block height

            @media (min-width: $g-breakpoint--mobile-wide) {
                max-height: calc(70vh - 80px - 101px); // Header height and filters block height
                }

            .b-main--inner & {
                background: blue none repeat scroll 0 0;

                @media (min-width: $g-breakpoint--desktop) {
                    position: fixed;

                    top: 80px;
                    bottom: 0;
                    right: 0;

                    height: auto;
                    max-height: none;
                    width: calc(100% - 590px - 24px * 2);
                    }
                }
            }

        &--content {

            .b-main--inner & {
                box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.5);

                @media (min-width: $g-breakpoint--desktop) {
                    width: calc(590px + 24px * 2);

                    box-shadow: none;
                    }
                }
            }
        }

        .b-main__map {
            height: 100%;
            width: 100%;

            background: #ccc;

            * {
                font-family: 'Helvetica Neue', Arial, sans-serif !important;
                }

            .gm-style img[src^="https://maps.gstatic.com/mapfiles/api-3/images/spotlight"] {
                height: 43px !important;
                width: 27px !important;
                }
            .gmnoprint[title] {
                height: 43px !important;
                width: 27px !important;
                }
            }