<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <title><%= PAGE_TITLE %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffa800" />
    <meta name="apple-mobile-web-app-title" content="Restaurant Reviews" />
    <meta name="application-name" content="Restaurant Reviews" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#312b25" />

    <% if (SERIALIZED_CSS_BUNDLE) { %>
        <%- SERIALIZED_CSS_BUNDLE %>
    <% } else { %>
        <link rel="stylesheet" href="/assets/css/<%= CSS_BUNDLE_NAME %>" type="text/css" />
    <% } %>
</head>
<body>
    <!-- Page content -->

    <%- include(`pages/${PAGE_NAME}.html`) %>


    <!-- Scripts -->

    <script type="text/javascript">
        window.MAP_READY = false;

        window.MAP_READY_CALLBACK = function () {
            window.MAP_READY = true;

        };


        // Prevent loading of not needed scripts from google maps

        window.appendChildHeadBackup = document.head.appendChild;

        document.head.appendChild = function (child) {
            if (child instanceof HTMLScriptElement && child.src) {
                var preventLoading = [
                    'AuthenticationService.Authenticate',
                    'stats.js',
                    'onion.js',
                    'QuotaService.RecordEvent'
                ].some(function (test) {
                    return child.src.indexOf(test) !== -1;
                });

                if (preventLoading) return;
            }

            return appendChildHeadBackup.call(document.head, child);
        };
    </script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&language=en&v=3.32.13&callback=MAP_READY_CALLBACK"></script>

    <% if (SERIALIZED_JS_VENDOR_BUNDLE) { %>
        <%- SERIALIZED_JS_VENDOR_BUNDLE %>
    <% } else { %>
        <script src="/assets/js/<%= VENDOR_CHUNK_NAME %>"></script>
    <% } %>

    <% if (SERIALIZED_JS_PAGE_BUNDLES) { %>
        <%- SERIALIZED_JS_PAGE_BUNDLES[PAGE_NAME] %>
    <% } else { %>
        <script src="/assets/js/<%= PAGE_CHUNK_NAME %>"></script>
    <% } %>

    <script type="text/javascript">
        window.Page.run();
    </script>
</body>
</html>